// html {}

// body {}

h1{
    
    font-family: 'Forum', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
}

h2 {
    font-family: 'Forum', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 95px;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
}