$color-bg-dark: #030303;
$color-bg-light: #DBDBDB;
$color-dark-red: #710707;

$color-font-primary: #9D8665;
$color-black: #000000;
$color-white: #FFFFFF;
$color-dark-grey: #464646;
$color-bg-black: #030303;
$color-pagination: #999999;

$content-big-width: 1440px;
$content-width: 1024px;
$tablet-width: 768px;
$mobile-width: 420px;