.explore {
    background: $color-bg-dark;
} 

.layout-2-column {
    display: flex;
    padding: 75px 0;
}

.explore__title {
    position: relative;
    margin-top: 0;
    padding-bottom: 25px;
    margin-bottom: 75px;
    line-height: 90px;
    color: $color-white;
}

.explore__title::after {
    position: absolute;
    content: '';
    width: 660px;
    height: 3px;
    background: $color-dark-red;
    left: 0;
    top: 115px;
}

.explore__text {
    padding-bottom: 25px;
    margin: 0 60px 0 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 38px;
    color: $color-white;
}

.text__color {
    color: $color-font-primary;
}

.explore__image {
    position: relative;
    width: 720px;
    height: 700px;
    margin-top: 10px;
}

.explore__picture {
    position: absolute;
    top:0;
    left: 0;
    width: 440px;
    height: 700px;
}

.explore__slider {
    position: absolute;
    left: 421px;
}

