.section__title {
    color: $color-font-primary;
    margin-top: 75px;
    padding-bottom: 25px;
    margin-bottom: 75px;
    border-bottom: 3px solid $color-font-primary;
}

.virtual__card {
    width: 440px;
    // box-sizing: border-box;
}

.visiting__title {
    margin-top: 25px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: $color-black;
    border-bottom: 2px solid $color-dark-red;
}

.visiting__text {
    font-family: Roboto;
font-style: normal;
font-weight: 200;
font-size: 22px;
line-height: 26px;
    color: $color-black;
}

.visiting__description {
    font-family: Roboto;
font-style: normal;
font-weight: 200;
font-size: 18px;
line-height: 21px;
    color: $color-black;
}

.virtual__section {
    margin: 0;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}

.virtual__card:not(:nth-child(3n)) {
  margin-right: 60px;
} 

.virtual__card:not(:nth-last-child(-n)) {
  margin-bottom: 75px;
}