.header {
    background: $color-bg-dark;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    display: flex;
}

.header__navigation {
    padding: 42px 0 46px 0;
}

.navigation__link > a:hover {
    color: $color-font-primary;
}

.navigation__link:not(:last-child) {
    margin-right: 55px;
}

.logo__image {
    width: 49px;
    height: 26px;
}

.logo__title {
    padding-left: 25px;
    font-family: Forum;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 31px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: $color-white;
}

a {
    text-decoration: none;
    color: $color-white;
}

.logo {
    display: flex;
    margin-top: -10px;
    align-items: center;
    justify-content: center;
}

.header__link {
    position: relative;
    list-style: none;
    color: $color-white;
    text-decoration: none;

    font-family: Roboto;
    font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 2px;
}

// .header__link::after {
//     display: block;
//     position: absolute;
//     content: "";
//     height: 1px;
//     width: 0;
//     background-color: $color-font-primary;
//     transition: width 0.3s ease-in-out;
//     bottom: -15px;
// }

// .header__link:hover:after {
//     width: 100%;
// }